body {
  background-color: #323232;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  
}

h1 {
  color: white;
}

#content{
  display: flex;
  position: relative;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

td {
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  border: 5px solid white;
  font-size: 32px;
  color: white;
  cursor: pointer;
}

td:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

/* Entfernt äußere Rahmen der Tabelle */
table {
  border-spacing: 5px;
}

tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}




.win-line {
  position: absolute;
  z-index: 10;  /* Damit die Linie über den anderen Elementen liegt */
  background-color: rgb(255, 255, 255);  /* Die Farbe der Gewinnlinie */
}

.horizontal {
  height: 5px;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Vertikale Mitte */
}

.vertical {
  height: 5px;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Horizontale Mitte */
}

.diagonal-1 {
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  transform-origin: top left;
}


.diagonal-2 {
  width: 5px;
  height: 100%;
  top: 0;
  left: 100%;
  transform: rotate(-45deg);
  transform-origin: top right;
}